/* FONTES */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/* VARIÃVEIS DAS CORES */
:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

/* ESTILOS */
* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 28px;
}

body {
  background-color: var(--dark-blue);
  height: 100vh;
  width: 100vw;
}

section,
main {
  height: 100%;
  width: 100%;
}

section {
  display: flex;
  align-items: center;
}

.card-quote {
  padding: 32px;
  background-color: var(--dark-grayish-blue);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: auto;
  position: relative;
}

.card-quote .quote-number {
  color: var(--neon-green);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 32px;
}

.card-quote .quote-text {
  color: var(--light-cyan);
  max-width: 440px;
  text-align: center;
}

.card-quote > img {
  width: 100%;
  padding: 32px 0;
}

.card-quote button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--neon-green);
  transition: box-shadow 400ms;
  position: absolute;
  bottom: -28px;
}

.card-quote button:hover {
  box-shadow: 0 0 40px var(--neon-green);
  transition: 400ms;
}

@media (max-width: 532px) {
  .card-quote {
    width: 70%;
  }

  .card-quote .quote-number {
    font-size: 10px;
  }

  .card-quote .quote-text {
    font-size: 18px;
  }

  .card-quote button {
    width: 54px;
    height: 54px;
  }
}

@media (min-width: 1550px) {
  .card-quote {
    max-width: unset;
  }

  .card-quote .quote-number {
    font-size: 18px;
  }

  .card-quote .quote-text {
    font-size: 32px;
    max-width: 700px;
  }

  .card-quote button {
    width: 64px;
    height: 64px;
  }
}
